[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/HectorMRC/nvchad.git
[submodule "git/aur/discord_arch_electron"]
	path = git/aur/discord_arch_electron
	url = https://aur.archlinux.org/discord_arch_electron.git
[submodule "git/aur/visual-studio-code-bin"]
	path = git/aur/visual-studio-code-bin
	url = https://aur.archlinux.org/visual-studio-code-bin.git
